{% extends 'layout.html' %}

{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/start-page",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/goblin-answer" method="post" novalidate>

        {{ radios({
          name: "areYouGoblin",
          fieldset: {
            legend: {
              text: "Are you one of the following?",
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option"
          },
          value: data.areYouGoblin,
          items: [
            {
              value: "Wizard",
              text: "Wizard"
            },
            {
              value: "Witch",
              text: "Witch"
            },
            {
              value: "Goblin",
              text: "Goblin"
            },
                    {
              value: "None of these",
              text: "None of these"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
